<p id="notice"><%= notice %></p>

<% if current_user %>
<div class="admin-bar"> 
<%= link_to 'Edit this employee', edit_employee_path(@employee) %> |
<%= link_to 'Show all', employees_path %>
</div>
<% end %>

<div class="row-fluid">
<div class="span4">
<%= image_tag @employee.avatar %>
</div>
<div class="span4">
	<h1>
	  <%= @employee.name %>
	</h1>
	<p>
	  <%= @employee.email %>
	</p>
	<p>
	  <%= @employee.title %>
	</p>
</div>
</div>


